body {
    padding: 1em;
    max-width: 720px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    border-bottom: 1px solid #000;
    padding-bottom: 1em;
}

.header>p {
    margin: 0;
}

h1 {
    font-weight: 600;
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 2em;
    column-gap: 15px;
}

.left-side {
    grid-column: span 9;
}

.right-side {
    grid-column: span 3;
}

.title {
    margin-bottom: 0;
}

.section-header {
    text-transform: uppercase;
    color: #4444c9;
    font-weight: 600;
    letter-spacing: 1px;	
}

.job, .right-side-item{
    margin-bottom: 2em;
}

@media screen and (max-width: 500px) {
    .left-side {
        grid-column: span 12;
    }
    .right-side {
        grid-column: span 12;
    }
}